[submodule "bundle/ctrlp"]
	path = pack/all/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
        ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
        ignore = untracked
[submodule "bundle/vim-gitgutter"]
	path = pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
        ignore = untracked
[submodule "bundle/ag.vim"]
	path = pack/all/start/ag.vim
	url = https://github.com/rking/ag.vim.git
        ignore = untracked
[submodule "bundle/ctrlp-py-matcher"]
	path = pack/all/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
        ignore = untracked
[submodule "bundle/vim-textobj-user"]
	path = pack/all/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
        ignore = untracked
[submodule "bundle/vim-textobj-xmlattr"]
	path = pack/all/start/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr.git
        ignore = untracked
[submodule "bundle/vim-commentary"]
	path = pack/all/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = untracked
[submodule "bundle/vim-dispatch"]
	path = pack/all/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
        ignore = untracked
[submodule "bundle/auto-pairs"]
	path = pack/all/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
        ignore = untracked
[submodule "bundle/scratch"]
	path = pack/all/start/scratch
	url = https://github.com/mtth/scratch.vim.git
        ignore = untracked
[submodule "bundle/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
        ignore = untracked
[submodule "bundle/vim-obsession"]
	path = pack/all/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
        ignore = untracked
[submodule "bundle/typescript-vim"]
	path = pack/all/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
        ignore = untracked
[submodule "bundle/vim-less"]
	path = pack/all/start/vim-less
	url = https://github.com/groenewege/vim-less.git
        ignore = untracked
[submodule "bundle/vim-pug"]
	path = pack/all/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
        ignore = untracked
[submodule "bundle/vim-javascript"]
	path = pack/all/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
        ignore = untracked
[submodule "bundle/vim-stylus"]
	path = pack/all/start/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
        ignore = untracked
[submodule "bundle/indentLine"]
	path = pack/all/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
        ignore = untracked
[submodule "bundle/vim-css-color"]
	path = pack/all/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
        ignore = untracked
[submodule "bundle/base16-vim"]
	path = pack/all/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
        ignore = untracked
[submodule "bundle/syntastic"]
	path = pack/all/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
        ignore = untracked
[submodule "bundle/ultisnips"]
	path = pack/all/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
        ignore = untracked
[submodule "bundle/vim-snippets"]
	path = pack/all/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
        ignore = untracked
[submodule "bundle/editorconfig"]
	path = pack/all/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
        ignore = untracked
[submodule "pack/all/start/YouCompleteMe"]
	path = pack/all/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
